doctype html
html
  head
    title="error"
    style
      include ../public/stylesheets/navbar.css
      include ../public/stylesheets/head.css
body
  include navbar
main
  block content
    h1= 404
    h2= "not Found"