doctype html
html
    head
        style
            include ../public/stylesheets/navbar.css
            include ../public/stylesheets/head.css
            include ../public/stylesheets/index.css
body
    include navbar
main
    block content
        p da wir vorerst ein Loginsystem vermeiden wollen, wird der Post zunächst von uns noch überprüft, befor er auf der Website landet.